<table class="table">
  <thead>
    <tr>
      <th>{{title}}</th>
    </tr>
  </thead>
  <div class="filter-body {{if isReadOnly 'read-only'}}">
    <table class="table">
      <tbody>
        {{#each values as |item|}}
        <tr>
          <td>
            <div class="checkbox">
              <label>
                {{#unless isReadOnly}}
                  <input type="checkbox" checked={{item.selected}} onchange={{action attrs.update item.name}}> {{item.name}}
                {{else}}
                  {{item}}
                {{/unless}}
              </label>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</table>
