{{#main-layout as |container|}}
  {{#container.centerContent class="songs-table-container" }}
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Duration</th>
            <th>Likes</th>
          </tr>
        </thead>
        <tbody>
          {{#each filteredList as |song|}}
            <tr>
              {{link-to song.name 'songs.song' song.id class='selectable' tagName='td'}}
              <td>{{song.artist.name}}</td>
              <td>{{song.genre}}</td>
              <td>{{format-song-duration song.duration songs.globalSettings.timeFormat}}</td>
              <td>{{likes-meter item=song currentRating=song.hearts maxRating=3 update=(action 'setRating')}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/container.centerContent}}

  {{#container.sideContent}}
    <strong>Filter by </strong>
    {{table-filter title='Artist' values=artistNames selectedValues=selectedArtistNames update=(action 'updateFilter' 'selectedArtistNames')}}
    {{table-filter title='Genre' values=genreNames selectedValues=selectedGenreNames update=(action 'updateFilter' 'selectedGenreNames')}}
  {{/container.sideContent}}

{{/main-layout}}
