<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
  {{link-to 'MusicBox' 'songs' class="title selectable" tagName='span'}}
  {{#dropdown-menu
  triggerElementClasses="glyphicon glyphicon-menu-hamburger menu-button selectable"
  contentClasses="settings"
  class="pull-right"}}
    <strong>Settings</strong>
    <li role="separator" class="divider"></li>

    <div class="form-group">
      <label>Time Format:</label>
      <select class="form-control" onchange= {{action 'setTimeFormat' value="target.value"}}>
        {{#each globalSettings.timeFormatOptions as |option|}}
          <option value= {{option}} selected= {{eq option globalSettings.timeFormat}}>
            {{option}}
          </option>
        {{/each}}
      </select>
    </div>
  {{/dropdown-menu}}
</nav>
<div class="container-fluid main-container">
  {{outlet}}
</div>
